<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanwahle.topbookswidget">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <receiver android:name=".TopBooksProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TopBooksConfigureActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TopBooksDetailsActivity"
            android:label="Top Book Details"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

</manifest>
